@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #ffbb42;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link{
    color: #868686;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
}


#banner{
    height: 654px;
}
.banner-bg{
    background-color: #709dca;
    text-align: center;
    height: 550px;
}
.banner-bg h1{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 102px;
}
.banner-bg p{
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    letter-spacing: -0.50px;
}
.form-check-inline{
    padding-left: 10px;
}
input[type="text"] {
    font-size: 12px;
    height: 44px;
    width: 267px;
    padding-left: 40px;
    border-radius: 4px;
    border: #ffffff;
    margin-bottom: 10px;
}
input[type="tel"] {
    font-size: 12px;
    height: 44px;
    width: 267px;
    padding-left: 40px;
    border-radius: 4px;
    border: #ffffff;
    margin-bottom: 10px;
}
.nameFiled{
    background: url(../img/name.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 50%;
    background-color: #fff;
}
.mailFiled{
    background: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 50%;
    background-color: #fff;
}
.phoneFiled{
    background: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 50%;
    background-color: #fff;
}
.button-form{
    font-family: "Open Sans";
    text-transform: uppercase;
    height: 44px;
    width: 200px;
    color: #ffffff;
    background-color: #ffbb42;
    border-color: #ffbb42;
    margin-bottom: 10px;
}
.caruserl-banner{
    color: white;
    width: 660px;
    height: 355px;
    background-image: url(../img/computer.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    margin: 27px 220px;
}
.carousel{
    padding-left: 119px;
    padding-right: 118px;
    padding-top: 32px;
}
.carousel-indicators li {
    width: 16px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #DEDFE0;
    opacity: 1;
}
.carousel-indicators{
    margin-bottom: -100px;
}
.carousel-indicators .active {
    border-color: #1CA8DD;
}


#service{
    color: #394b50;
}
.service-banner h2{
    font-family: "Open Sans";
    font-weight: 800;
    text-align: center; 
}
.service-banner p{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding-bottom: 83px;
}
#service div h3{
    font-family: "Lato";
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: #394b50;
}
#service div p{
    font-family: "Open Sans";
    font-size: 14px;
    color: #7b7b7b;
}

#about-us{
    background-color: #ffc155;
}
.about-img{
    margin-left: -50px;
    width: 705px;
    height: 577px;
}
.text-about{
    color: #fff;
    margin-top: 160px;
    padding-left: 90px;
}
.text-about h2{
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
}
.text-about p{
    font-family: "Open Sans";
    font-size: 14px;
}
.button-about{
    font-family: "Lato";
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    background-color: #ffc155;
    border: 1px solid #e7ad48;
}
.btn-primary:hover {
    background-color: #e7ad48;
    border-color: #e7ad48;
    color: #ffffff;
}


#choos{
    background-color: #e7edf3;
    height: 800px;
}
.choos-banner{
    color: #394b50;
    text-align: center;
    padding-top: 130px;
}
.choos-banner h2{
    font-family: "Lato";
    font-size: 28px;
    font-weight: 900;
}
.choos-banner p{
    font-family: "Lato";
    font-size: 17px;
    font-weight: 300;
}

#price-table ul{
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0;
}
#price-table li{
    display: table-cell;
    position: relative;
    z-index: 0;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
}
#price-table ul li:hover{
    background-color: #709dca;
    border-color:#8eb8e2 rgba(255, 255, 255, 0.27);
    box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: scale(1.05);
    color: #ffffff;
}
#price-table li strong{
    font-family: "Lato";
    font-size: 24px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #818b95;
    line-height: 45px;
    font-weight: 300;
    display: block;
    text-align: center;
}
#price-table li .big{
    font-family: "Lato";
    font-size: 57px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    color: #ffbb42;
}
#price-table li .text1{
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    display: block;
    padding-bottom: 20px;
    text-align: center;
    color: #818b95;
    text-transform: uppercase;
}
#price-table li .text2{
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    display: block;
    line-height: 5px;
    text-align: center;
    color: #b5bbc1;
    text-transform: uppercase;
}
#price-table li :hover{
    color: #fff;
    border-color: #8eb8e2;

}
.price-border{
    border-top: 1px solid #e2e9f0;
    width: 80%;
}
.button-price{
    height: 41px;
    width: 125px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ffbb42;
    border-color: #ffbb42;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 123px;
}
.button-price:hover {
    background-color: #e7ad48;
    border-color: #e7ad48;
    color: #ffffff;
}


#how-it-work{
    color: #394b50;
    text-align: center;
}
.cup{
    margin-top: 145px;
}
.cup h2{
    font-family: "Lato";
    font-size: 28px;
    font-weight: 900;
}
.cup p{
    font-family: "Lato";
    font-size: 17px;
    font-weight: 300;
}
.elements{
    margin-top: 50px;
    margin-bottom: 60px;
}
.step1{
    margin-top: -118px;
    margin-left: 32px;
    margin-right: 32px;
}
.step2{
    margin-top: 130px;
    margin-left: 32px;
    margin-right: 32px;
}
.step h5{
    font-family: "Lato";
    font-size: 19px;
    font-weight: 700;
    color: #394b50;
}
.step p{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #7b7b7b;
}
.button-step{
    font-family: "Lato";
    font-weight: 400;
    text-transform: uppercase;
    height: 45px;
    width: 157px;
    background-color: #ffbb42;
    border-color: #ffbb42;
    margin-top: 84px;
    margin-bottom: 140px;
}
.button-step a{
    text-decoration: none;
    color: #ffffff;
}
.button-step:hover {
    background-color: #e7ad48;
    border-color: #e7ad48;
    color: #ffffff;
}


#happy-clients{
    background-color: #ffc155;
    height: 875px;
}
.happy h2{
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    margin-top: 110px;
    
}
.happy p{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
}
.table-light td{
    padding-top: 30px;
}
.table-light td blockquote{
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    color: #7b7b7b;
}
.table-light td p{
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 185px;
    color: #f6772c;
}
.clients{
    float: left;
    border-radius: 125px;
    width: 125px;
    margin-right: 30px;
    margin-left: 30px;
}
blockquote:first-letter{
    background: url(../img/open-qu.gif) no-repeat left top;
    padding-left: 18px;
}
blockquote{
    background: url(../img/close-qu.gif) no-repeat right bottom;
    text-indent: -18px;
    background-position: 390px 135px;
}
.el-grey{
    color: #99a9ae;
}


.letter{
    text-align: center;
    color: #394b50;
}
.letter h2{
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 900;
    margin-top: 100px;
    text-transform: uppercase;
}
.letter p{
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
}
#newsletter form{
    margin-left: 81px;
}
.lettername input[type="text"] {
    font-size: 12px;
    height: 45px;
    width: 293px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    margin-bottom: 10px;
}
.lettermail input[type="text"] {
    font-size: 12px;
    height: 45px;
    width: 369px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    
}
#newsletter .button-form{
    font-family: "Lato";
    font-weight: 400;
    height: 45px;
    width: 207px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ffbb42;
    border-color: #ffbb42;
    margin-bottom: 10px;
}
#newsletter .button-form:hover {
    background-color: #e7ad48;
    border-color: #e7ad48;
    color: #ffffff;
}
.map{
    background: url(../img/map.png) no-repeat;
    margin-top: 50px;
    height: 600px;
}
.logo-map{
    margin-top: 31px;
}
.map-adress{
    margin-top: -236px;
    margin-bottom: 74px;
}
.address{
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    margin-left: 110px;
    text-transform: uppercase;
    color: #ffffff;
}
.street{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 96px;
    color: #aeb7ba;
    margin-bottom: 0;
    line-height: 2;
}
.home, .call{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 84px;
    color: #aeb7ba;
    margin-bottom: 0;
    line-height: 2;
}
.call a{
    color: #aeb7ba
}
.mail{
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 77px;
    margin-bottom: 0;
    line-height: 2;
}
.mail a{
    color: #ffbb42;
}
.map-logo{
    margin-left: 29px;
}


#nav-footer{
    height: 210px;
    border-top: 1px solid #e3e7ec;
}
.navfooter{
    margin-top: 50px;
}
.navfooter a:hover {
    background: #ffbb42;
    color: #ffffff;
    text-decoration: none;
}
.nav li{
    float: left;
    font-size: 14px;
}
.navlink{
    display: inline-block;
    padding: 8px 15px;
    background-color: #fff;
    color: #394b50;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}
.tell-footer{
    font-family: "Lato";
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 3;
    color: #394b50;
}

#footer{
    height: 45px;
    background-color: #709dca;
}
#footer p{
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
}
